//Variables

body {
  display: flex;
}

.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loginInputs,
.loginInput {
  width: 100%;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
